<link rel="stylesheet" href="/css/header.css" type="text/css">

<header id="header">
  <nav id="navigation">
    <a href="/" id="logo">Home</a>
    <div id="user-info-container">
      <% if (user && user.username) { %>
        <div id="dropdown">
          <button id="dropdown-btn">Welcome, <%= user.username %>!</button>
          <div id="dropdown-content">
            <a href="/profile" id="profile">Profile</a>
            <form action="/logout" method="POST" id="logout-form">
              <button type="submit" id="logout-btn">Logout</button>
            </form>
          </div>
        </div>
        <div id="user-info" data-id="<%= user.id %>" data-username="<%= user.username %>" data-logged-in="true"></div>
      <% } else { %>
        <a href="/login" id="login">Login</a>
        <div id="user-info" data-logged-in="false"></div>
      <% } %>
    </div>
  </nav>
</header>
