<header>
  <nav>
    <a href="/">Home</a>
    <div>
      <% if (user && user.username) { %>
        <span>Welcome, <%= user.username %>!</span>
        <!-- Form for logout -->
        <form action="/logout" method="POST" style="display:inline;">
          <button type="submit" style="background:none; border:none; color:blue; cursor:pointer;">
            Logout
          </button>
        </form>
        <!-- Menyimpan data id dan username dalam data attribute -->
        <div id="user-info" data-id="<%= user.id %>" data-username="<%= user.username %>" data-logged-in="true"></div>
        <% } else { %>
          <a href="/login">Login</a>
          <!-- Menyimpan status login dalam data attribute -->
          <div id="user-info" data-logged-in="false"></div>
          <% } %>
    </div>
  </nav>
</header>