<header>
  <nav>
    <a href="/">Home</a>
    <!-- Tambahkan link navigasi lainnya di sini -->
    <div>
      <% if (user && user.username) { %>
        <span>Welcome, <%= user.username %>!</span>
        <<%= user %>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login"><%= user %> Login</a>
      <% } %>
    </div>
  </nav>
</header>