<link rel="stylesheet" href="/css/home.css" type="text/css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<h1>Welcome to Nightlife Coordination App</h1>
<p style="text-align: center;">Explore the best nightlife spots and plan your night with friends!</p>

<form id="searchForm">
  <label for="city">Enter City:</label>
  <input type="text" id="city" name="city" required>
  <button type="submit">Search Bars</button>
</form>

<div>
  <!-- Header with user info -->
  <% if (user && user.username) { %>
    <div id="user-info" data-id="<%= user.id %>" data-username="<%= user.username %>" data-city="<%= user.city %>"
      data-logged-in="true"></div>
    <% } else { %>
      <div id="user-info" data-logged-in="false"></div>
      <% } %>
</div>

<div id="content">
  <div id="map"></div>
  <div id="barsList"></div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="/js/home.js"></script>