<link rel="stylesheet" href="/css/login.css">

<div id="center-container">
  <div id="login-container">
    <h2 id="login-title">Login</h2>
    <form id="login-form" method="POST" action="/login">
      <label for="username" id="username-label">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="password" id="password-label">Password</label>
      <input type="password" id="password" name="password" required>

      <button type="submit" id="login-button">Login</button>
    </form>
    <% if (errorMessage) { %>
      <p id="login-error-message">
        <%= errorMessage %>
      </p>
      <% } %>
  </div>

  <a id="register-link" href="/register">Register</a>

</div>